
@media (max-width:1550px) {
    .title-click button{
        font-size: 20px;
        padding: 20px;
    }
    .swiper-slide p{
        font-size: 9px;

    }
    
}
@media (max-width:900px) {
    .title-click button{
        font-size: 10px;
        padding: 10px;
    }
    .description{
        top: 2%;
        max-width: 100%;
        left: 3%;
    }
    .description p{
        max-width: 90%;
    }
    .slider {
       top: 25vh;
       width: 180%;
       left: -47%;
    }
    .swiper-slide {
        max-height: 35vh;
        
     }
     .swiper-slide h3{
        font-size: 14px;

    }
     
    
}
@media (max-width:550px) {
    .title-click button{
        font-size: 8px;
        padding: 5px;
    }
    .swiper-slide p{
        font-size: 8px;

    }
    .slider {
       top: 25vh;
       width: 180%;
       left: -47%;
    }
    .swiper-slide h3{
        font-size: 12px;

    }
    
}
@media (max-width:450px) {
    .title-click button{
        font-size: 8px;
        padding: 5px;
    }
    .swiper-slide p{
        font-size: 6px;

    }
    .swiper-slide h3{
        font-size: 10px;

    }
    .slider {
       top: 25vh;
       width: 170%;
       left: -40%;
    }
    
}
